.main {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

span1 {
    font-size: 33px;
}

span2 {
    font-size: 23px;
}

#timer {
    display: inline grid;
    font-size: 20px;
    margin-left: 30px;
    color: blue;
    font-weight: bolder;
}