.main {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

span1 {
    font-size: 33px;
}

span2 {
    font-size: 23px;
}